.git
.gitignore
.gitattributes
.env
.env.*
!.env.localtest.example
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
.idea
.vscode
docs
*.md
Dockerfile
.dockerignore
